@import "tailwindcss";

@theme{
  --color-primary: #ff6c44;
  --color-primarydark:#DB5408;
  --color-secondary: #f9e4c4;
  --color-accent: #ff7b54;
  --color-dark: #212121;
  --color-light: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}